# Python编译缓存，所有子目录下 __pycache__ 全部忽略
__pycache__/
*.pyc
*.pyo
*.pyd

# 日志文件
*.log

# SQLite数据库（本地数据库不上传git）
db.sqlite3
db.sqlite3‑journal

# VSCode编辑器配置
.vscode/

# 虚拟环境文件夹（如果你有venv）
venv/
env/
.venv/

# 部署collectstatic产出的静态文件，不要源码static！！
# 注意：不要写 static/ ！！！！
staticfiles/

# 用户上传文件media，运行时生成，不上传
media/

# 环境变量密钥文件
.env

# 操作系统文件
.DS_Store
Thumbs.db
