<!-- 发件人头部 -->
<div class="mail-header">
    <div class="avatar-sender">{{ template.email_title|slice:":1" }}</div>
    <div class="sender-info">
        <div class="name">{{ template.email_title }}</div>
        <div class="mail-address">{{ template.fake_link }}</div>
        <div class="user-email">Sent to: {{ request.user.email }}</div>
    </div>
</div>
<!-- 邮件标题 -->
<div class="mail-title">{{ template.email_title }}</div>
<!-- 邮件正文+链接 -->
<div class="mail-body">
    {{ template.email_content|linebreaks }}
    <div class="link-box">
        <div style="font-weight:500;">Shared Documents / Secure Links</div>
        <p>Click the link below for details</p>
        <div class="doc-icon">🔗</div>
        <span class="fake-link">
            {{ template.fake_link }}
            <span class="link-tip">{{ template.fake_link }}</span>
        </span>
        <br>
        <button class="open-btn" data-tip="{{ template.fake_link }}">Open Link</button>
    </div>
</div>