.wrap{
    text-align:center;
    margin-top:60px;
}
h1{
    font-size:44px;
    margin-bottom:12px;
}
.subtitle{
    font-size:24px;
    color:#555;
    margin-bottom:40px;
}
hr{
    width:75%;
    margin:0 auto 45px;
}
.button-row{
    display:flex;
    justify-content: center;
    gap:32px;
    max-width:1200px;
    margin:0 auto;
    flex-wrap:wrap;
}
.btn-blue{
    display:block;
    padding:24px 48px;
    background:#a1bf88;
    color:#ffffff;
    font-size:24px;
    border-radius:14px;
    text-decoration:none;
    white-space:nowrap;
    border:none;
    cursor:pointer;
    min-width:340px;
}
.btn-blue:hover{
    background:#8ca873;
    color:#fff;
}
.btn-grey{
    display:block;
    padding:24px 48px;
    background:#2d2d2d;
    color:#fff;
    font-size:24px;
    border-radius:14px;
    text-decoration:none;
    white-space:nowrap;
    border:none;
    cursor:pointer;
    min-width:340px;
}
.btn-grey:hover{
    background:#444444;
    color:#fff;
}
.btn-disabled{
    display:block;
    padding:24px 48px;
    background:#cccccc;
    color:#606060;
    font-size:24px;
    border-radius:14px;
    white-space:nowrap;
    border:none;
    cursor:not-allowed;
    min-width:340px;
}
.tip-text{
    width:100%;
    margin-top:30px;
    color:#992222;
    font-size:20px;
}
.desc-text{
    max-width:950px;
    margin:70px auto 0;
    font-size:19px;
    color:#555;
    line-height:1.8;
}
.text-secondary{
    color:#666;
}
.small{
    font-size:16px;
}
